p{
    color:blue;
}
h1,.food{
    color:black;
}
.drink{
    color:yellow;
}
#aa{
    color:bisque;
    background-color: black;
}
ul{
    background-image:linear-gradient(#FFEE5E,#74BDFF);
}
table{
    color:black;
    border:#559DFF 6px solid;
    background-image: repeating-linear-gradient(50deg,#C3FCFF,#C3FCFF 30px,#A9EDFF 30px,#A9EDFF 80px);
}
/*更改ul li*/
ul li{
    color:blueviolet
}
/*滑鼠滑過*/
ul li:hover{
    background-color: grey;
}
.container{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row-reverse;
    justify-content: center;
    justify-content: space-between;
    align-items: flex-end;
    height: 700px;
    width:300px;
    border:1px solid red;
}
.container div{
    border:1px solid ;
    padding:10px;
    width:100px;
    color:black
}
.box-1{
    flex:1;
    order:2;
}
.box-2{
    flex:1;
    order:1;
}
.box-3{
    flex:1;
    order:3;
}
